<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <title>VaprDocs</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    {% block meta %}
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script><!-- load jquery -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- load the bootstraps -->
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/e9421181788/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- <script src="/static/js/kendo.all.min.js"></script> -->
    {% block scripts %}
    {% endblock %}

    <!-- LINKS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"><!-- load bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block links %}
    {% endblock %}
</head>
<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" src="/static/img/vaprdocs.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.username %}
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">

                        <i class="glyphicon glyphicon-user"></i> {{ user.username }} <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="/accounts/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>

                    </ul>
                </li>
                {% else %}
                    <li><a href="/accounts/login"><i class="glyphicon glyphicon-lock"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>
        {% block header %}{% endblock %}
    </div><!-- /container -->
</div>
<!-- /header -->
<div class="container">
{% block content %}

{% endblock %}
</div>
</body>
</html>