<span><strong><i class="glyphicon glyphicon-briefcase"></i> File Cabinets</strong></span>

<ul class="nav nav-pills nav-stacked" id="cabinet_list">
</ul>

<ul id="dropdown-cabinet" class="dropdown-menu" role="menu">
    <li><a class="lookslink" id="cabinet-dropdown-move" tabindex="-1" onclick="cabinet_context_move_click()"><i class="glyphicon glyphicon-move"></i> Move</a></li>
    <li><a class="lookslink" id="cabinet-dropdown-rename" tabindex="-1" onclick="cabinet_context_rename_click()"><i class="glyphicon glyphicon-text-width"></i> Rename</a></li>
    <li><a class="lookslink" id="cabinet-dropdown-delete" tabindex="-1" onclick="cabinet_context_delete_click()"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
    <li class="divider"></li>
    <li><a class="lookslink" id="cabinet-dropdown-cancel" tabindex="-1" onclick="return false;"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</a></li>
</ul>
<script>
    var cabinets = null;
    var cabinet_list = $('#cabinet_list');
    var cabinet_dropdown = $("#dropdown-cabinet");

    $.ajax({
        url: '/api/cabinet/list/',
        dataType: 'json'
    }).done(function(data) {
        cabinets = data;
        update_cabinet_list();
        $('.vcb').click(function(){
            current_cabinet = $(this).attr('id');
            $.ajax({
                url: '/api/cabinet/id/'+current_cabinet+'/',
                dataType: 'json'
            }).done(function (data) {
                current_cabinet_object = data;
                load_cabinet(current_cabinet);
            });
            return false;
        });
        $('.vcb').contextmenu(function(e){
            var id = $(this).attr('id');
            var posX = $(this).offset().left;
            var posY = $(this).offset().top;

            cabinet_dropdown.attr('cabinet-id', id);

            $('#dropdown-cabinet').css({
                position: "absolute",
                zindex: "9999",
                display: "block",
                left: posX - (cabinet_dropdown.width()*1.5),
                top: posY - (cabinet_dropdown.height()/2)
            });
            $(document).click(function()
            {
                $('#dropdown-cabinet').css({
                    display: "none"
                });
            });
            return false;
        });
    });

    function update_cabinet_list()
    {
        cabinet_list.html('');
        var cabs = '';
        for(var i = 0; i < cabinets.length; i++) {
            var obj = cabinets[i];
            //console.log(obj);
            var load = "load_cabinet('"+obj.id+"');";
            cabs += '<li><a href="#" class="vcb" id="'+obj.id+'"><i class="glyphicon glyphicon-inbox"></i> '+obj.name+'</a></li>';
        }
        cabinet_list.append(cabs);
    }

    function cabinet_context_move_click(){
        alert("We can't move that cabinet, we don't have the power: "+cabinet_dropdown.attr('cabinet-id'));
        return false;
    }

    function cabinet_context_rename_click(){
        alert("The cabinet renaming feature is gonna have a bad time: "+cabinet_dropdown.attr('cabinet-id'));
        return false;
    }

    function cabinet_context_delete_click(){
        alert("If you delete that cabinet the agency will be alerted: "+cabinet_dropdown.attr('cabinet-id'));
        return false;
    }
</script>