<h1>New Cabinet</h1>
<div>
    <form action="/cabinet/new/" method="post" class="form-horizontal" role="form" data-target="#modal_new" data-async>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                {{ errors }}
            </div><br/>
        </div>

        <div class="form-group row">

            <label class="col-sm-3 control-label" for="cabinet_name">File Cabinet Name</label>
            <div class="col-sm-8">
                <input class="form-control" id="cabinet_name" name="cabinet_name" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary btn-lg" id="submit" type="submit" value="Login">Create Cabinet</button>
            </div>
        </div>
    </form>
</div>