<h1>New Document</h1>
<div>
    <form id="new-document-form" action="/document/new/" method="post" class="form-horizontal" role="form" data-target="#modal_new" data-async>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                {{ errors }}
            </div><br/>
        </div>
        <input type="hidden" id="new_document_cabinet" name="doccabinet" value="">
        <input type="hidden" id="new_document_folder" name="docfolder" value="">
        <div class="form-group row">

            <label class="col-sm-3 control-label" for="id_docpath">Document Location</label>
            <div class="col-sm-8">
                <input class="form-control disabled" readonly="true" id="id_docpath" name="docpath" type="text" value="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="id_foldername">Document Name</label>
            <div class="col-sm-8">
                <input class="form-control" id="id_docname" name="docname" type="text" value="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="id_documentfile">Document File</label>
            <div class="col-sm-8">
                <input class="form-control" id="id_documentfile" name="filename" type="file">
                <input type="hidden" id="encodedfile" name="encodedfile" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary btn-lg" id="submit" type="submit" value="Login">Create Document</button>
            </div>
        </div>
    </form>
    <script>
        var fileInput = $('#id_documentfile');
        var encodedFile = $('#encodedfile');
        var new_document_form = $('#new-document-form');

        function init_new_document() {
            if (current_folder_object) $('#new_document_folder').attr('value', current_folder_object.id);
            if (current_cabinet_object) $('#new_document_cabinet').attr('value', current_cabinet_object.id);
            var path = current_cabinet_object.name+'/';

            if (current_folder_object) {
                $.ajax({
                    url: '/api/folder/path/' + current_folder_object.id + '/',
                    dataType: 'html'
                }).done(function (data) {
                    path += data;
                    $('#id_docpath').attr('value', path);
                });
            }
            else
            {
                $('#id_docpath').attr('value', path);
            }

            new_document_form.submit(function(){
                $('#modal_new').modal('hide');
            });
        }

        $(document).ready(function(){
            init_new_document();
            fileInput.on('change', function(){
                var file = fileInput.prop('files')[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    encodedFile.prop('value', reader.result);
                };
                reader.readAsDataURL(file);
            });
        });


    </script>
</div>