<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <title>VaprDocs</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    {% block meta %}
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script><!-- load jquery -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- load the bootstraps -->
    <!-- <script src="/static/js/kendo.all.min.js"></script> -->
    {% block scripts %}
    {% endblock %}

    <!-- LINKS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"><!-- load bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% block links %}
    {% endblock %}
</head>
<body>
<div class="container">
<!-- header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" onclick="window.close()"><img class="logo" src="/static/img/vaprdocs.png"></a>
            </div>

            {% block header %}{% endblock %}
        </div><!-- /container -->
    </div>
<!-- /header -->

    <div class="row">
        <div class="col-sm-3">
            <div>
                <div class="image-viewer">
                    <img style="width: 90%;" src="{{ file.data }}">
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>{{ document.name }}</h2>
            Document ID: {{ document.id }}<br/>
            Folder ID: {{ document.folder }}<br/>
            Cabinet ID: {{ document.cabinet }}<br/>
            File Name: {{ document.file.filename }}<br/>
            File ID: {{ document.file.id }}<br/>
        </div>
    </div>
</div>
</body>
</html>