<table id="document_table">
    <thead id="document_table_head">

    </thead>
    <tbody id="document_table_body">

    </tbody>
</table>

<img src="/static/img/spinner.gif" id="document-loading-indicator" style="display:none" />

<ul id="dropdown-document" class="dropdown-menu" role="menu">
    <li><a class="lookslink" id="document-dropdown-move" tabindex="-1" onclick="document_context_move_click()"><i class="glyphicon glyphicon-move"></i> Move</a></li>
    <li><a class="lookslink" id="document-dropdown-rename" tabindex="-1" onclick="document_context_rename_click()"><i class="glyphicon glyphicon-text-width"></i> Rename</a></li>
    <li><a class="lookslink" id="document-dropdown-delete" tabindex="-1" onclick="document_context_delete_click()"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
    <li class="divider"></li>
    <li><a class="lookslink" id="document-dropdown-cancel" tabindex="-1" onclick="return false;"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</a></li>
</ul>

<!-- Modal -->
<div id="modal_delete_document" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span id="modal_delete_document_header"><h3>Delete Document</h3></span>
            </div>
            <div id="modal_delete_document_body" class="modal-body">
            Are you sure you want to delete this document?
            </div>
            <div id="modal_delete_document_footer" class="modal-footer">
                <button id="button_delete_document_accept" class="btn btn-primary">Delete</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var documents = [];
    var document_table = $('#document_table');
    var document_table_head = $('#document_table_head');
    var document_table_body = $('#document_table_body');
    var document_dropdown = $("#dropdown-document");

    function load_document_list(folder_id)
    {
        $.ajax({
            url: '/api/document/list/'+folder_id+'/',
            dataType: 'json'
        }).done(function(data) {
            documents = data;
            update_document_list();
            /*
            $('.vcb').click(function(){
                load_cabinet($(this).attr('id'));
                return false;
            });
            */
        });
    }

    function load_current_document_list()
    {
        load_document_list(current_folder);
    }

    function update_document_list()
    {
        document_table_head.html('<tr><th>Document Name</th><th>Created On</th><th>Created By</th></tr>');
        document_table_body.html('');
        var docs = '';

        for(var i = 0; i < documents.length; i++) {
            var obj = documents[i];
            //console.log(obj);
            docs += '<tr><td><span style="width: 90%" class="btn btn-primary btn-sm vdb" id="'+obj.id+'"><i class="glyphicon glyphicon-file"></i> '+obj.name+'</span></td><td>'+obj.created_date+'</td><td>'+obj.created_by+'</td></tr>';

        }
        document_table_body.append(docs);
        document_table.dataTable();

        var vdb = $('.vdb'); //Virtual Document Button

        vdb.click(function(){
            window.open('/document/view/'+($(this).attr('id'))+'/','View Document','width=400,height=400');
            return false;
        });

        vdb.contextmenu(function(e){
            var id = $(this).attr('id');
            var posX = $(this).offset().left;
            var posY = $(this).offset().top;

            document_dropdown.attr('document-id', id);

            $('#dropdown-document').css({
                position: "absolute",
                zindex: "9999",
                display: "block",
                left: posX - (document_dropdown.width()*2.5),
                top: posY - (document_dropdown.height()/2)
            });
            $(document).click(function()
            {
                $('#dropdown-document').css({
                    display: "none"
                });
            });
            return false;
        });

        $('.vdb-delete').click(function(){
            $('#button_delete_document_accept').click(function(){
                delete_document($('.vdb-delete').attr('did'));
            });
            $('#modal_delete_document').modal('show');
        });
    }

    function delete_document(document_id)
    {
        $.ajax({
            url: '/api/document/delete/' + document_id +'/',
            dataType: 'json'
        }).done(function(data) {
            $('#modal_delete_document').modal('hide');
            load_current_document_list();
        });

    }

    function document_context_move_click()
    {
        alert("Document move is such awesome!  Wow: "+document_dropdown.attr('document-id'));
        return false;
    }

    function document_context_rename_click()
    {
        alert("Somebody set up us the document rename: "+document_dropdown.attr('document-id'));
        return false;
    }

    function document_context_delete_click()
    {
        $('#button_delete_document_accept').click(function(){
            delete_document(document_dropdown.attr('document-id'));
        });
        $('#modal_delete_document').modal('show');
        return false;
    }
    load_document_list(current_folder);


</script>