<span><span class="btn btn-primary btn-sm" fid="" id="backCabinetList"><i class="glyphicon glyphicon-arrow-up"></i><span id="current_path_parent"> </span></span></span><br/>
<span style="margin-right: 20px;"><strong><i id='current_path_icon' class="glyphicon glyphicon-inbox"></i> <span id='current_path_name'>{{ cabinet.name }}</span></strong></span>
<br/>
<ul class="nav nav-pills nav-stacked" id="folder_list">
</ul>

<ul id="dropdown-folder" class="dropdown-menu" role="menu">
    <li><a class="lookslink" id="folder_dropdown_move" tabindex="-1" onclick="folder_context_move_click()"><i class="glyphicon glyphicon-move"></i> Move</a></li>
    <li><a class="lookslink" id="folder_dropdown_rename" tabindex="-1" onclick="folder_context_rename_click()"><i class="glyphicon glyphicon-text-width"></i> Rename</a></li>
    <li><a class="lookslink" id="folder_dropdown_delete" tabindex="-1" onclick="folder_context_delete_click()"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
    <li class="divider"></li>
    <li><a class="lookslink" id="folder_dropdown_cancel" tabindex="-1" onclick="return false;"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</a></li>
</ul>

<script>
    var folders = null;
    var folder_list = $('#folder_list');
    var cabinet = '{{ cabinet.id }}';
    var current_path = '/';
    var folder = {};

    var folder_dropdown = $("#dropdown-folder");


    function load_folder_list(parent) {
        if (!current_folder) {
            $('#current_path_icon').attr('class', 'glyphicon glyphicon-folder-open');
        }
        var url = '/api/folder/list/'+current_cabinet_object.id+'/'+parent+'/';

        $.ajax({
            url: url,
            dataType: 'json'
        }).done(function (data) {
            folders = data;
            update_folder_list();
            refresh_vfb();
        });
    }

    function update_folder_list() {
        folder_list.html('');
        var cabs = '';

        for (var i = 0; i < folders.length; i++) {
            var obj = folders[i];
            //console.log(obj);
            //current_path = obj.path;
            cabs += '<li><a href="#" class="vfb" data-toggle="context" data-target="#dropdown-folder" id="' + obj.id + '" path="' + obj.path + '" name="' + obj.name + '"><i class="glyphicon glyphicon-folder-close"></i> ' + obj.name + '</a></li>';

        }
        folder_list.append(cabs);

        var docpath = '{{ cabinet.id }}';
        if (current_path) docpath = current_path;

        if (current_folder) {
            $.ajax({
                url: '/documents/' + current_cabinet_object.id+'/'+current_folder_object.id+'/',
                dataType: 'html'
            }).done(function (data) {
                centerColumn.html(data);
            });
        }
    }

    function refresh_vfb()
    {
        back_btn = $('#backCabinetList');

        $('.vfb').click(function () {
            var id = $(this).attr('id');
            $.ajax({
                url: '/api/cabinet/id/'+current_cabinet+'/',
                dataType: 'json'
            }).done(function (data) {
                current_cabinet_object = data;
                set_current_folder(id);
                return false;
            });
            return false;
        });
        $('.vfb').contextmenu(function(e){
            var id = $(this).attr('id');
            var posX = $(this).offset().left;
            var posY = $(this).offset().top;

            folder_dropdown.attr('folder-id', id);

            $('#dropdown-folder').css({
                position: "absolute",
                zindex: "9999",
                display: "block",
                left: posX - (folder_dropdown.width()*1.5),
                top: posY - (folder_dropdown.height()/2)
            });
            $(document).click(function()
            {
                $('#dropdown-folder').css({
                    display: "none"
                });
            });
            return false;
        });
    }

    $('#backCabinetList').click(function(){
        if (!current_folder_object)
        {
            current_folder = null;
            current_folder_object = null;
            if (current_cabinet && !current_folder) clear_document_list();
            load_cabinet_list();
            return false;
        }
        else
        {
            if (current_folder_object.parent != "") { //Current folder has a parent, go there
                set_current_folder(current_folder_object.parent);
            }
            else  //Current folder does not have a parent, go up to the cabinet list
            {
                load_cabinet(current_folder_object.cabinet);
                clear_document_list();
                current_folder = null;
                current_folder_object = null;
            }
        }
        return false;
    });

    function folder_context_delete_click(){
        alert("Not deleting _that_ folder, sir: "+folder_dropdown.attr('folder-id'));
        return false;
    }

    function folder_context_rename_click(){
        alert("Not renaming any folder like that one: "+folder_dropdown.attr('folder-id'));
        return false;
    }

    function folder_context_move_click(){
        alert("Not going to move that folder, it looks mean: "+folder_dropdown.attr('folder-id'));
        return false;
    }
</script>