<div >
    <form action="/folder/new/" method="post" class="form-horizontal" role="form" data-target="#modal_new" data-async>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
                {{ errors }}
            </div><br/>
        </div>

        <input type="hidden" id="new_folder_parent" name="new_folder_parent">
        <input type="hidden" id="new_folder_cabinet" name="new_folder_cabinet">

        <div class="form-group row">

            <label class="col-sm-3 control-label" for="id_folderpath">Folder Path</label>
            <div class="col-sm-8">
                <input class="form-control disabled" readonly="true" id="id_folderpath" name="folderpath" type="text" value="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="id_new_folder_name">Folder Name</label>
            <div class="col-sm-8">
                <input class="form-control" id="id_new_folder_name" name="new_folder_name" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-primary btn-lg" id="submit" type="submit" value="Login">Create Folder</button>
            </div>
        </div>
    </form>
</div>
<script>
    $('.errorlist').addClass('col-sm-offset-2 col-sm-14');
    $('.errorlist li').addClass('alert alert-danger');
    if (current_folder_object) $('#new_folder_parent').attr('value', current_folder_object['id']);
    $('#new_folder_cabinet').attr('value', current_cabinet);

    function get_new_folder_path()
    {
        var path = current_cabinet_object.name+'/';

        if (current_folder_object) {
            $.ajax({
                url: '/api/folder/path/' + current_folder_object.id + '/',
                dataType: 'html'
            }).done(function (data) {
                path += data;
                $('#id_folderpath').attr('value', path);
            });
        }
        else
        {
            $('#id_folderpath').attr('value', path);
        }

    }

    get_new_folder_path();
</script>