{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default" id="CabinetColumn">
        </div>
    </div>
    <div class="col-sm-9">
        <div>
            <div class="btn-group btn-group-justified">
                <span class="btn btn-primary col-sm-3" id="btnNew">
                    <i class="glyphicon glyphicon-plus"></i><br>
                    New
                </span>
                <span class="btn btn-primary col-sm-3" id="btnOptions">
                    <i class="glyphicon glyphicon-cog"></i><br>
                    Options
                </span>
                <span class="btn btn-primary col-sm-3" id="btnHelp">
                    <i class="glyphicon glyphicon-question-sign"></i><br>
                    Help
                </span>
            </div>
            <div style="padding-top: 10px;" id="ViewColumn">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal_new" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span id="modal_new_header"><h3>Create New...</h3></span>
            </div>
            <div id="modal_new_body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<ul id="folderContextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#">Delete</a></li>
</ul>

<script>
    var leftColumn = $('#CabinetColumn');
    var centerColumn = $('#ViewColumn');
    var current_folder = null;
    var current_cabinet = null;
    var current_cabinet_object = null;
    var current_folder_object = null;

    function update_path_icon()
    {
        if (current_folder_object)
        {
            $('#current_path_name').text(current_folder_object.name);
            $('#current_path_icon').attr('class', 'glyphicon glyphicon-folder-open');
        }
        else
        {
            $('#current_path_name').text('{{ cabinet.name }}');
            $('#current_path_icon').attr('class', 'glyphicon glyphicon-inbox');
        }
    }

    function set_current_folder(fid)
    {
        if (!fid)
        {
            current_folder = null;
            current_folder_object = null;
            return;
        }
        current_folder = fid;
        $.ajax({
            url: '/api/folder/id/' + fid+'/',
            dataType: 'json'
        }).done(function (data) {
            current_folder_object = data;
            load_folder_list(current_folder);
            update_path_parent();
            if (update_path_icon) update_path_icon();
        });
        if (update_path_icon) update_path_icon();
    }

    function update_path_parent()
    {
        $.ajax({
            url: '/api/folder/path/' + current_folder_object.id+'/',
            dataType: 'html'
        }).done(function(data){
            $('#current_path_parent').text((current_cabinet_object.name+'/'+data.substr(0, data.lastIndexOf('/'))).replace('/', ' / '));
        });
    }

    function load_cabinet_list()
    {
        $.ajax({
            url: '/cabinets/list',
            dataType: 'html'
        }).done(function(data) {
            leftColumn.html(data);
        });
    }

    function load_cabinet(cabinet_id)
    {
        $.ajax({
            url: '/folders/' + cabinet_id +'/',
            dataType: 'html'
        }).done(function(data){
            leftColumn.html(data);
            load_folder_list();
            $('#current_path_name').text(current_cabinet_object.name);

        });
    }

    function modal_new_cabinet()
    {
        $.ajax({
            url: '/cabinet/new',
            dataType: 'html'
        }).done(function(data){
            $('#modal_new_body').html(data);
            $('form[data-async]').submit(function() {
                var $form = $(this);
                var $target = $($form.attr('data-target'));

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),

                    success: function(data, status) {
                        $('#modal_new').modal('hide');
                        load_cabinet_list();
                        refresh_vcb();
                    }
                });
                return false;
            });
        });
    }

    function modal_new_folder()
    {
        var p = current_path;
        if (!p) p = '/';
        $.ajax({
            url: '/folder/new/',
            dataType: 'html'
        }).done(function(data){
            $('#modal_new_body').html(data);
            $('form[data-async]').submit(function() {
                var $form = $(this);
                var $target = $($form.attr('data-target'));

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),

                    success: function(data, status) {
                        $('#modal_new').modal('hide');
                        load_folder_list(current_folder_object.id);
                        refresh_vfb();
                    }
                });
                return false;
            });
        });
    }

    function modal_new_document()
    {
        var p = current_path;
        if (!p) p = '/';

        $.ajax({
            url: '/document/new/' + current_cabinet + '/' + current_folder_object.id +'/',
            dataType: 'html'
        }).done(function(data){
            $('#modal_new_body').html(data);
            $('form[data-async]').submit(function() {
                var form = $(this);
                var target = $($form.attr('data-target'));
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    beforeSend:function(){
                        // show gif here, eg:
                        $("#document_table_wrapper").hide();
                        $("#document-loading-indicator").show();
                    },
                    complete:function(){
                        // hide gif here, eg:
                        $("#document_table_wrapper").show();
                        $("#document-loading-indicator").hide();
                    },
                    success: function(data, status) {
                        //New document form has been submitted successfully.
                        load_current_document_list();
                    }
                });
                return false;
            });
        });
    }

$( document ).ready(function() {
    load_cabinet_list();
    $('#btnNew').click(function(){
        var new_cabinet_button = '<button id="btn_create_new_cabinet" class="btn btn-primary btn-lg" onclick="modal_new_cabinet()">Cabinet</button> ';
        var new_folder_button = '<button id="btn_create_new_folder" class="btn btn-primary btn-lg" onclick="modal_new_folder()">Folder</button> ';
        var new_document_button = '<button id="btn_create_new_document" class="btn btn-primary btn-lg" onclick="modal_new_document()">Document</button> ';
        var newbuttons = new_cabinet_button;
        if (current_cabinet && current_cabinet != '')
        {
            newbuttons = newbuttons + new_folder_button;
        }
        if (current_folder && current_folder != '')
        {
            newbuttons = newbuttons + new_document_button;
        }

        $('#modal_new').modal('show');
        $('#modal_new_body').empty().append(newbuttons);
        return false;
    });
    $('#btnOptions').click(function(){
        return false;
    });
    $('#btnHelp').click(function(){
        return false;
    });
});

function clear_document_list()
{
    centerColumn.html('');
}
</script>
{% endblock %}