{% extends 'base.html' %}
{% block content %}
        <h1>Mongo Test</h1>
        <div>
        </div>
        <script>
            var cabinets = {{cabinets|safe}};
        </script>
{% endblock %}