html {
    font-family: 'Droid Sans', sans-serif;
}
.logo {
    width: 160px;
}

.lookslink {
    cursor: pointer;
}

#dropdown-folder {
    display: none;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;

    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px;
}

.image-viewer {
    border: 1px solid #000;
}