{% extends 'base.html' %}
{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
{% block content %}

<form action="/accounts/login/" next="/" method="post" class="form-horizontal" role="form">
{% csrf_token %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            {{ form.non_field_errors }}
        </div><br/>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 control-label" for="id_username">Username</label>

        <div class="col-sm-4">
            <input class="form-control" id="id_username" maxlength="254" name="username" type="text" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
            {%  if form.username.errors %}
            {{  form.username.errors }}
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="id_password">Password</label>
        <div class="col-sm-4">
            <input class="form-control" id="id_password" name="password" type="password" value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
            {%  if form.password.errors %}
            {{  form.password.errors }}
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-primary btn-lg" id="submit" type="submit" value="Login">Login</button>
        </div>
    </div>
</form>
    <style>.errorlist {list-style: none;margin-left: 0;padding-left: 0;}</style>
<script>
    $('.errorlist').addClass('col-sm-offset-2 col-sm-14');
    $('.errorlist li').addClass('alert alert-danger');

</script>
{% endblock %}